.karla-400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 4.5 !default;
$h2-font-size: $font-size-base * 2.5 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$primary: #85b49c; // Muted green
$secondary: #64627d; // Bootstrap's default secondary
$success: #5d8474; // darker green success
$warning: #ffc107; // Bootstrap's default warning
$danger: #dc3545; // Bootstrap's default danger
$info: #475b49; // Dark green
$light: #f8f9fa; // Light gray
$dark: #343a40; // Dark gray
$palegreen: #dce6de;

$box-shadow-sm: none;

// accordions
$accordion-border-width: 0;
$accordion-bg: transparent;
$accordion-border-radius: 1rem;

// Buttons
$btn-border-radius: 2rem;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.25rem;

// Nav Menu toggler

$container-padding-x: 20px;

$container-max-widths: (
  sm: 100%,
  // Small: Full
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

.section {
  --bs-gutter-x: 20px;
}

#about {
  background: #dce6de;
}

#hero-bg {
  background-image: url(images/dog-hero-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-bg2 {
  background-image: url(images/cat-paw-orng.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin rounded-rectangle($width: 100%, $height: 400px, $radius: 10px) {
  width: $width; // Set the width of the rectangle
  height: $height; // Set the cropped height
  overflow: hidden; // Ensure content stays within the rectangle
  border-radius: $radius; // Apply rounded corners
  object-fit: cover; // Ensure the image maintains aspect ratio while filling the container
}

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.navbar {
  padding: 0 20px;
}

section {
  padding: 0 20px;
}

footer {
  padding: 0 20px;
}

.card-icon {
  height: 48px;
}

.story-item-hide {
  display: none;
}

.story-section {
  padding: 50px 0;
  display: grid;
}

.story-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.story-item {
  padding: 20px;
  border-radius: 8px;
}

.responsive-btn {
  width: 100%;
}

.image-rectangle {
  @include rounded-rectangle(100%, 200px, 15px);
}

.btn-info {
  width: 100%;
}

@media (min-width: 576px) {
  .image-rectangle {
    @include rounded-rectangle(100%, 461px, 30px);
  }

  .story-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .bg-trunk {
    background-image: url("images/tree-trunk.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .story-item-hide {
    display: block;
  }
}

@media (min-width: 960px) {
  section {
    padding: 0 130px;
  }

  .story-section {
    padding: 50px 130px;
  }

  .navbar {
    padding: 0 130px;
  }

  footer {
    padding: 0 130px;
  }

  .image-rectangle {
    @include rounded-rectangle(100%, 461px, 15px);
  }

  .responsive-btn {
    width: 50%;
  }

  .btn-info {
    width: fit-content;
  }
}

.nav-link {
  color: #5d8474;
  padding-top: 8px;
  padding-bottom: 8px;

  &:hover {
    transform: translateY(-2px);
  }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: none;
  box-shadow: none;
}

.btn-warning {
  background-color: #f58d07; // Bright yellow color
  color: #fff; // White
  padding: 0 20px;
  border: none;
  border-radius: 2rem;
  font-weight: 600; // semi bold text

  &:hover {
    background-color: #ffc107; // Lighter yellow hover
    color: #fff; // Keep the text white

    transform: translateY(-2px);
  }
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  font-weight: 400;
  border-width: 0;
}

.btn-lg {
  border-radius: 2rem;

  &:hover {
    transform: translateY(-2px);
  }
}

.btn {
  border-radius: 2rem;

  &:hover {
    transform: translateY(-2px);
  }
}

.form-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.faq-section {
  padding: 50px 0;
  text-align: center;
}

.shipping-section {
  background-color: #ffde88;
  padding: 50px 0;
}

.cta-section {
  background-color: #4a6655;
  color: #fff;
  padding: 50px 0;
}

.cta-section a {
  background-color: #fff;
  color: #4a6655;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

#hero-bg2 {
  background-image: url(/images/cat-paw-orng.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#hero-bg3 {
  background-image: url(/images/ball-hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $palegreen;
}

.impact-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.impact-section .card {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta-section {
  background-color: #6d5a82;
  color: #fff;
  padding: 50px 0;
}

.cta-section a {
  background-color: #fff;
  color: #6d5a82;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

form {
  background-color: $palegreen;
  border-radius: 1rem;
}

#card-icon {
  height: 48px;
  padding: 8px;
}

#comment {
  background-color: $palegreen;
}

.branch-r img {
  display: flex;
  align-items: flex-end;
}
