.karla-400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




$font-size-base: 1rem;

$h1-font-size: $font-size-base * 4.5 !default;
$h2-font-size: $font-size-base * 2.5 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;




$primary: #85b49c; // Gentle green for primary actions
$secondary: #6c757d; // Bootstrap's default secondary
$success: #5D8474; // darker for success
$warning: #ffc107; // Bootstrap's default warning
$danger: #dc3545; // Bootstrap's default danger
$info: #17a2b8; // Bootstrap's default info
$light: #f8f9fa; // Light gray
$dark: #343a40; // Dark gray

// accordions
$accordion-border-width: 0;
$accordion-bg: transparent;

// Buttons
$btn-border-radius: 0.375rem;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.25rem;

.navbar-button {
  background-color: #FFC107; // Bright yellow color
  color: #fff; // White text
  padding: 10px 20px; // Adjust padding for the button size
  border: none; // No border
  border-radius: 5px; // Smooth rounded corners
  font-weight: 600; // Slightly bold text
  
  &:hover {
    background-color: #FFA000; // Slightly darker yellow on hover
    color: #fff; // Keep the text white
   
    transform: translateY(-2px); // Slight lift on hover
  }

}


$container-padding-x: 20px;

$container-max-widths: (
  sm: 100%, // Small: Full width
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$container-padding-x: 130px;


#about {
 background: #DCE6DE;
}














@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}




.nav-link {
  color: #5D8474;
}
